$color-keyboard-key-bg: #818384;
$color-keyboard-key-text: #ffffff;
$color-letter-absent: #3a3a3c;
$color-letter-present: #b59f3b;
$color-letter-correct: #538d4e;

$color-gameboard-cell-border: #444c56;
$color-background: #22272d;

$breakpoint-mobile-max-w: 600px;
